<div class="container">
    <div class="row">
        <div class="text-center col-md-12 col-sm-12 col-lg-12">
            <h1>Oops , something is wrong. </h1>
        </div>
        <div class="text-center col-md-12 col-sm-12 col-lg-12">
            <h2>Please go to home page</h2>
        </div>

    </div>
</div>