@using BrowseNShop.ViewModels
@model SneakerListViewModel



<div>
    <h2>All sneakers and boots are displayed here </h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{ 
    foreach (Sneaker sneaker in Model.Sneakers)
    {
        @Html.Partial("SneakersSummary", sneaker)
    }
}



