@using BrowseNShop.ViewModels
@model SneakerListViewModel



<div class="row marginTop">



    <h2>@Model.CurrentCategory</h2>

    @{
        foreach (Sneaker sneaker in Model.Sneakers)
        {

            @await Html.PartialAsync("SneakersSummary", sneaker)


        }
    }
</div>



